body {
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    background-color: #262626;
    padding-left: 15px;
    padding-right: 15px;
}

@keyframes blink {
  from, to {
    color:  transparent;
  }
  50% {
    color: #fff;
  }
}

.cur {
    animation: 1500ms blink step-end infinite;
}

a {
    color: #ffea00 !important;
}

.lang {
    float: right;
}